
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    height:90px;
    width: 100%;
    background-color: #FF5D5D; 
}

ul{
    display:flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

input{
    position: relative;
    width: 200px;
    height: 35px;
    margin-top: 25px;
    
}


.search{
    margin-right: 20px;
}

.border{
    background-color: #FF8C8C;
    width: 1025px;
    height: 650px;
    margin-left: 245px;
    border-radius: 30px;
    margin-top: 100px;
}

.admin{
    margin-top: -630px;
    margin-left: 600px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
}

.mother{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form1{
    /* background-color: crimson; */
    width: 50%;
}

.form1 input{
    border-radius: 30px;
    border: 1px solid black;
}

.form2{
    /* background-color: darkorange; */
  width: 50%;
}

.form2 input{
    border-radius: 30px;
    border: 1px solid black;
    /* margin-left: 450px;
    margin-bottom: 50px; */
}

.fname{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.firstbox{
    margin-left: 250px;
    margin-top: 50px;
}
.lname{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.secondbox{
    margin-left: 150px;
    margin-top: 50px;
}

.role{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.thirdbox{
    margin-left: 100px;
    margin-top: 50px;
}

.email{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.fourthbox{
    margin-left: 100px;
    margin-top: 50px;
}

.division{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.fifthbox{
    margin-left: 350px;
    margin-top: 50px;
}

.department{
    background-color: #FFC3C3;
    width: 400px;
    height: 50px;
}

.sixthbox{
    margin-left: 350px;
    margin-top: 50px;
}

.submit{
    height: 41px;
    width: 199px;
    margin-top: 20px;
    margin-left: 650px;
    background-color: #FF5D5D;
    /* background-color: blue; */
    border: 1px solid black;
    font-weight: bold;
    border-radius: 30px;

}


.box-5{
    display: flex;
    justify-content: space-between;
    background-color: #FF5D5D;
    margin-top: 120px;
    height: 270px;
    width: 100%;
    color: white;
}

span {
     font-size: x-large;
    
}

.foot {

    margin-top: 50px;

    margin-left: 50px;
}

.eamail {
    width: 200px;
    margin-right:75px ;
}

.subscribe {

    width: 208px;
    height: 41px;
    color: white;
    background-color: red;
    margin-top: 20px;
    border-color: red;
}



.hj{
    margin-left: 150px;
}

.foot2 input{
    height: 50px;
    width: 200px;
    border-radius: 0px;
}
